### Pandas

<img src="https://pandas.pydata.org/_static/pandas_logo.png">

In [ ]:
# its very important to know the basics of Pandas as it helps a lot in data science function

In [4]:
# loading a csv file in Python 
import pandas as pd
dataframe = pd.read_csv("/home/abhishek/LSTM-Neural-Network-for-Time-Series-Prediction/sp500.csv",low_memory=False)

In [3]:
dataframe.head()

   1455.219971
0  1399.420044
1  1402.109985
2  1403.449951
3  1441.469971
4  1457.599976

To know more about pandas dataframe :- https://pandas.pydata.org/pandas-docs/stable/io.html

In [6]:
# now lets look into some of the pandas dataframe
# as we can see in the above data that there is no column name
# how do we do that????
dataframe.columns = ['values']

In [7]:
dataframe.head()

        values
0  1399.420044
1  1402.109985
2  1403.449951
3  1441.469971
4  1457.599976

In [8]:
# There we go !!!!

In [9]:
# Getting value from a particluar column
dataframe.loc[1]

values    1402.109985
Name: 1, dtype: float64

#### Priting particular columns

In [23]:
values = dataframe['values']
print(values.head())

0    1399.420044
1    1402.109985
2    1403.449951
3    1441.469971
4    1457.599976
Name: values, dtype: float64

In [10]:
# and as we can it shows the value of row 2 with index value value 1.

Joining two pandas dataframe

Suppose we have two dataframe named df1,df2

In [14]:
df1 = pd.DataFrame({'key': ['K0', 'K1', 'K2', 'K3', 'K4', 'K5'],
                       'A': ['A0', 'A1', 'A2', 'A3', 'A4', 'A5']})
df2  = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                       'B': ['B0', 'B1', 'B2']})

In [15]:
df_join = df1.join(df2, lsuffix='_caller', rsuffix='_other')

In [16]:
df_join

  key_caller   A key_other    B
0         K0  A0        K0   B0
1         K1  A1        K1   B1
2         K2  A2        K2   B2
3         K3  A3       NaN  NaN
4         K4  A4       NaN  NaN
5         K5  A5       NaN  NaN

 To know more about the parameters like lsuffix, rsuffix:- https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.join.html

In [18]:
# merge
df_merge = df1.merge(df2)

In [19]:
df_merge

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

In [28]:
# searching for some values in dataframe

In [31]:
# here we are searching for the first index value in the dataframe
# Note: This is very fast, avoid using for loops for searhcing data in your code
value_ = dataframe[dataframe.values == 1399.420044]

In [33]:
value_

        values
0  1399.420044

### Apply as function to each row in a Pandas data
       This is one of the efficient ways to dealing with python. There are certain steps that needs to performed in case of big data. Using this aplply() in python reduces our efforts in python.

In [34]:
def convert_to_int(value):
    return int(value)

In [37]:
df = dataframe['values'].apply(convert_to_int)

In [39]:
df.head()

0    1399
1    1402
2    1403
3    1441
4    1457
Name: values, dtype: int64

There we see our data getting coverted into int form

## Saving data in csv format

In [25]:
dataframe.to_csv("filename.csv",index=False)

## Saving data in json format
    You can also save the data in json format

In [ ]:
dataframe.to_json("filename.json")